@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: hsl(0, 0%, 98%);
}

#hero {
  background-image: url("./images/image-hero-desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 576px) {
  #hero {
    bakcground-image: url("./images/image-hero-mobile.png");
    background-position: center;
  }
}
